<div class="side-nav">
  <div class="logo">
    <img src="./assets/images/logo.jpg">
  </div>
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Company Name</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-nav-list>
    <a mat-list-item href="#"><mat-icon>dashboard</mat-icon>Dashboard</a>
  </mat-nav-list>
  <mat-divider></mat-divider>

  <h2>CRP</h2>
  <mat-nav-list>
    <a mat-list-item href="#"><mat-icon>schedule</mat-icon>Business planner</a>
    <a mat-list-item href="#"><mat-icon>work_outline</mat-icon>Contacts</a>
    <a mat-list-item href="#"><mat-icon>task</mat-icon>Tasks</a>
    <a mat-list-item href="#"><mat-icon>filter_alt</mat-icon>Sales funnel</a>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <h2>ERP</h2>
  <mat-nav-list>
    <a mat-list-item href="#" ><mat-icon>post_add</mat-icon>Add ERP</a>
  </mat-nav-list>

</div>
